* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montserrat', sans-serif;
  background-image: url('../images/23913.jpg');
  background-size: cover;
  background-position: top center;
}

.app-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.486), rgba(0, 0, 0, 0.305));
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px 15px;
}

header input {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.448);
  border-radius:  16px 0px 16px 0px;
  border-bottom: 3px solid gray;
  color: #313131;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
}
header input::placeholder {
    color: #ffffffdd;
}

header input:focus {
  background-color: rgba(255, 255, 255, 0.6);
}

.button {
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font: 700 15px din-round, sans-serif;
  outline: none;
  padding: 13px 16px;
  text-align: center;
  user-select: none;
  white-space: nowrap;
  width: fit-content;
}

.button:hover:not(:disabled) {
  filter: brightness(1.1);
}
.button:disabled {
  cursor: not-allowed;
}
.button:active {
  border-width: 4px 0 0;
  background: none;
}

main {
  flex: 1 1 100%;
  padding: 25px 25px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.city {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 5px;
}

.date {
  color: #fff;
  font-size: 16px;
}

.temp {
  color: #fff;
  font-size: 102px;
  font-weight: 900;
  margin: 30px 0px;
  text-shadow: 2px 10px rgba(0, 0, 0, 0.6);
}

.temp span {
  font-weight: 500;
}

.weather {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 15px;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

.hi-low,.humidity {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  text-shadow: 0px 4px rgba(0, 0, 0, 0.4);
}
